<div fxFlex fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <div class="title-container">
    <h1>{{ title }}</h1>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="jokeButton()">Get Another Joke</button>
    <div class="joke-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-card *ngFor="let joke of jokes">{{ joke }}</mat-card>
    </div>
  </div>
</div>
